# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Dados gerados
data/vendas.csv
outputs/

# IDEs
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db
